/*css page linked to html*/
@font-face { font-family: "Overwatch"; src: 
url("http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff") format('woff'); }

@font-face { font-family: "bignoodle"; src: 
url("big_noodle_titling.ttf") format('woff'); }

@font-face { font-family: "bignoodle-oblique"; src: 
url("big_noodle_titling_oblique.ttf") format('woff'); }

/*Nav Bar CSS*/
#navbar {
	padding: 0;
    margin-bottom: 2%;
    background: linear-gradient(#d9d9d9, #fff);
    border: 0;
}

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}

.navbar-brand {
	float: none;
	font-family: "bignoodle-oblique";
	font-size: 50px;
}